@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E4EDE3;
  --foreground: #171717;
  --primary: #004D61;
  --secondary: #FF5031;
  --grey: #CBCBCB;
  --white: #FFFFFF;
  --disabled: #538490;
  --dark-grey: #6b6b6b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #E4EDE3;
    --foreground: #ededed;
    --primary: #004D61;
    --secondary: #FF5031;
    --grey: #CBCBCB;
    --white: #FFFFFF;
    --dark-grey: #6b6b6b;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
